{% extends "layout.html" %}
{% block content %}

<h1>Register</h1>

<div class="container">
<div class="box">
    <form method="POST" action="">
        <div id="registerform">
        {{ form.csrf_token }}
        <p>{{ form.username.label }} {{ form.username(id="username_new") }}</p>
            
        <p>{{ form.password.label }} {{ form.password(id="password_new") }}</p>
            
        <p>{{ form.confirm_password.label }} {{ form.confirm_password(id="password_confirm") }}</p>
        </div>
        <input type="submit" value="Register">
    </form>

    <div>
    {% for error in form.username.errors %}
        <span style="color: red">[{{ error }}]</span>
    {% endfor %}
    </div>
</div>
</div>

{% endblock content %}